body{
    margin: 0px;
}
main{
    margin: 20px;
}
header{
    background-color: rgb(41, 40, 40);
}
footer{
    background-color: rgb(41, 40, 40);
    color: white;
    padding: 15px 0;
    text-align: left;
    font-family: Arial, sans-serif;
}
.container{
            display: flex;
            align-items: left;
            justify-content: left;
        }
img{
    width: 200px;
    height: 200px;
    padding:30px;
    }
.text{
    font-size:15px;
    padding-left: 45px;
    text-align: justify;
    }
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    overflow:hidden ;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}